.ipynb_checkpoints

.DS_Store

.mypy_cache

__pycache__

.venv

adapters

mlx_model

old_ft_data

fused_model

finetune_data/

# Ignore model weights
**.safetensors
**.bin
**.pt
**.ckpt

# Ignore Hugging Face cache
**/cache/
**/huggingface/
**/transformers_cache/

.plans
